# System & OS
.DS_Store
Thumbs.db

# IDEs & Editors
.idea/
*.iml
*.iws
.vscode/
*.code-workspace
.history/
.zed/

# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Testing & Coverage
.pytest_cache/
.mypy_cache/
.coverage

# Build & Distribution
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
env/
venv/
ENV/
.venv/
env.bak/
.venv-*/

# Environment Variables & Local Configs
.env
.env.local
*.local.py
config.local.py

# Databases
*.db
*.sqlite3

# Node.js & Web
node_modules/
npm-debug.log*

# Project Specific
/data/
/changes.diff
/docs/temp.md
docs/promos/
src/references/
src/preview.svg
/releases/
